.container{
  background-color: aqua;
  color: blueviolet;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.simple-component{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.simpleComponentText, .obj-component, .state{
  text-align: center;
}

.object-component, .btn-container{
  display: flex;
  margin: 0 auto;
}